<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
    Search By Name:
    <input type="text" ng-model="searchname"><br><br>
    Search By Salary:
    <input type="number" ng-model="searchsalary"><br><br>
    
    <ul>
        <li ng-repeat="emp in emps | filter: {name: searchname, salary: searchsalary}">
        {{emp.name}} - Rs. {{emp.salary}}
        </li>
    </ul>

    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.emps = [
                {name: 'Ram', salary: 50000},
                {name: 'Abhi', salary: 60000},
                {name: 'Bharath', salary: 55000},
                {name: 'Chendan', salary: 70000},
            ];
        });
    </script>
    
</body>
</html>